{% extends "base.html" %}
{% block title %}登录 - 志愿时长管理{% endblock %}
{% block content %}
<div class="login-box">
    <div class="body">
        <div class="container">
            <h2>管理员登录</h2>
            <form method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}
                </p>
                <p>{{ form.remember() }} {{ form.remember.label }}</p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>
</div>
{% endblock %}