h1 {
    text-align: center;
}
.body {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.container {
    width: 400px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
}
.container h2 {
    margin: 0;
}
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    padding-left: 20px;
}
a {
    text-decoration: none;
    color: #007BFF;
}
a:hover {
    text-decoration: underline;
}
ul a {
    text-decoration: underline;
}
ul a:hover {
    color: #0056b3;
}