{% extends "base.html" %}

{% block title %}首页 - 开发组任务登记及志愿时长分配系统{% endblock %}

{% block content %}
    <h1>开发组任务登记及志愿时长分配系统</h1>
    <div class="body" id="homepage">
        <div class="container" id="task-container">
            <div class="container-header">
                <h2>任务列表</h2>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/task/new" class="add-btn" id="add-task-btn">新建任务</a>
            </div>
            <ul id="task-ul"></ul>
        </div>
        <div class="container" id="status-container">
            <div class="container-header">
                <h2>志愿时长统计</h2>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/user/new" class="add-btn" id="add-user-btn">新建参与者</a>
            </div>
            <ul id="status-ul"></ul>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='home.js') }}"></script>
    <script src="{{ url_for('static', filename='delete_button.js') }}"></script>
    <script src="{{ url_for('static', filename='format_time.js') }}"></script>
{% endblock %}